.body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/spider.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  transform: scale(1.1); /* prevents white edges */
  z-index: -1;
}
.body::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.card {
  width: 420px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);

  color: white;
}

.card input {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
}

.card input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.card input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border: 1px solid #01b4e4;
}

.link {
  color: #01b4e4;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
