.BackToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: transparent;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: background 0.3s, transform 0.3s;
  z-index: 999;
}

.BackToTop:hover {
  background-color: #0284c7;
  transform: scale(1.1);
}